@keyframes rowleft-199{
    0%{
        transform: translate(0, 0);
    }

    100%{
        transform: translate(-259px, 0);
    }
}

.video_footer{
    position: absolute;
    bottom: 0;
    width: 70%;
    margin-left: 7%;
    color: white;
}

.user{
    margin-bottom: 8px;
}

.video_description{
    margin-bottom: 8px;
}


.sound_caroussel{
    display: flex;
}

.sound_title_container{
    display: flex;
    overflow: hidden;
}

.sound_title_1, .sound_title_2, .sound_title_3{
    margin-bottom: 15px;
    width: 100%;    
    white-space: nowrap;
    animation: 3s linear 0s infinite normal none running rowleft-199;
}

.sound_title_2{
    position: relative;
    left:70px;
}

.sound_title_3{
    position: relative;
    left: 180px;
}