*{margin: 0; padding: 0;}

html{
  scroll-snap-type: y mandatory;
}

.app{
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}


.app_video{
  position: relative;
  border-radius: 20px;
  /* width: 100%; */
  /* max-width: 400px; */
  /* max-height: 800px; */
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/*Esconde la barra de scroll sin perder funcionalidad (Chrome, safari, opera)*/
.app_video::-webkit-scrollbar{
  display: none;
}

/*Esconde la barra de scroll sin perder funcionalidad (IE, Edge, Firefox)*/
.app_video{
  -ms-overflow-style: none; /*IE y Edge*/
  scrollbar-width: none; /*Firefox*/
}